.post {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 12px;
  padding: 32px;
  color: #67607c;
  margin-bottom: 20px;
}

.post-title {
  color: #583abc;
  cursor: pointer;
  display: inline-block;
}

.post-footer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.img-box {
  width: 40px;
}

.info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.author {
  margin: 0;
}

.date {
  margin: 0;
}

.img-box img {
  width: 40px;
  border-radius: 50%;
}

.read-more {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #8b70e3;
  border-radius: 4px;
  padding: 0 6px;
}
