.categories-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin: 40px auto;
}

@media (max-width: 800px) {
  .categories-container {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
