.item {
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 2px;
  margin: 20px 0 40px;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 13px;
}

.title,
.text {
  margin-bottom: 0;
}
